#hero {
  padding-top: 150px;
  background: url("../img/bgg.svg") no-repeat;
  background-position: center;
  background-size: cover;

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--title {
      h4 {
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        padding-bottom: 10px;
      }

      h1 {
        font-weight: 800;
        font-size: 50px;
        line-height: 80px;
        letter-spacing: -0.03em;
        color: #000000;
        padding-bottom: 10px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -0.02em;
        color: #757095;
        padding-bottom: 10px;
      }

      &__block {
        display: flex;
        align-items: center;
        width: 622px;
        height: 100px;
        background: #FFFFFF;
        box-shadow: 0 4.35199px 134.912px rgba(0, 0, 0, 0.1);

        &--title {
          padding: 0 20px;

          h3 {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #000000;
            opacity: 0.4;
            padding-bottom: 5px;
          }

          h5 {
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #000000;
            opacity: 0.6;
          }
        }

        button {
          margin: 0 20px;
          width: 211px;
          height: 65px;
          background: #1B1C31;
          color: white;
          border: none;
        }
      }

      &__icon {
        display: flex;
        align-items: center;

        &--gal {

          padding: 0 20px;
          display: flex;
          align-items: center;

          a {
            color: chocolate;
            font-size: 30px;
            padding: 0 5px;
          }

          p {
            font-weight: 400;
            font-size: 17px;
            line-height: 30px;
            letter-spacing: -0.02em;
            color: #757095;
          }
        }
      }
    }

    &--image {
      img {
        width: 100%;
      }
    }
  }
}