@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}


@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
  #vector .vector--title2__title5 {
    margin-top: -562px;}

}


@media (max-width: 1024px)  {
  .container{
    width: 90%;
  }

}
@media (max-width: 992px) {
  .container{
    width: 90%;
  }



}


@media (max-width: 768px) {
  .container{
    width: 90%;
  }



}


@media (max-width: 576px) {
  .container{
    width: 90%;
  }



}


@media (max-width: 453px) {
  .container{
    width: 90%;
  }




}


@media (max-width: 400px) {
  .container{
    width: 90%;
  }




}


@media (max-width: 380px) {
  .container{
    width: 90%;
  }



}


@media (max-width: 320px) {
  .container{
    width: 90%;
  }

  }


