#title{
  h1 {
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000000;
    text-align: center;
    padding-bottom: 10px;
  }
  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #64607D;
  }
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    &--block{
      width: 380px;
      height: 350px;
      background: transparent;
      border-radius: 20px;
      a{
        color: chocolate;
        font-size: 30px;
        padding: 20px 0;
      }
      h2 {
        font-weight: 800;
        font-size: 24px;
        line-height: 60px;
        letter-spacing: -0.03em;
        color: #16012C;
        padding-bottom: 10px;
      }
      h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: #64607D;
        padding-bottom: 20px;
      }
      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        color: #01966B;

      }
    }
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      background: #F57059;
      border-radius: 10px;
      padding:15px 35px;
      color: white;
      border:none;
      cursor: pointer;
      transition: .4s;
      &:hover{
        background: white;
        color: crimson;
        transform: scale(1.1);
      }
    }
  }
}